<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <style>
      .progress-circle.indefinite .progress {
        stroke: blue;
        stroke-width: 2;
        stroke-dashoffset: 0;
        stroke-dasharray: 63 188;
        animation: progress-indef 2s linear infinite;
      }

      .progress-circle.indefinite .bg {
        stroke: #eee;
        stroke-width: 2;
      }

      @keyframes progress-indef {
        0% { stroke-dashoffset: 251; }
        100% { stroke-dashoffset: 0; }
      }
    </style>

  </head>
  <body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark border border-white">
    <a class="navbar-brand" href="#">Malware Analysis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About Malware</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid bg-dark text-white" id="home" style="height: 100vh;">
    <h1 class="text-sm-center">Malware Analysis</h1>
    <hr/>
    <br><br><br>
    <br><br><br>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 border border-dark p-sm-3">
          <form enctype="multipart/form-data" id="formUpload">
            <div class="form-group">
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                  <label for="fileUpload">Select A File</label>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                  <input type="file" name="fileUploader" id="fileUpload" class="form-control" required>
                </div>
                <div class="col-md-1"></div>
              </div>
            </div>
            <div id="fileProgress" class="row d-none">
              <div class="col-md-12 p-sm-3">
                <div class="progress border border-success">
                  <div class="progress-bar bg-success" id="mainProgress" role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <button type="submit" class="btn btn-block btn-outline-success">UPLOAD</button>
                </div>
                <div class="col-md-3"></div>
              </div>
            </div>
          </form>
          <br/>
          <h4 class="text-success d-none text-center" id="result"></h4>
        </div>
        <div class="col-md-3"></div>
      </div>
  </div>
  <div class="container-fluid bg-success text-white" id="about" style="height: 100vh">
    <h2>About Malware</h2>
    <p>The values of the following features define weather the file is malware or not</p>
    <h3>Feature List</h3>
    <ul id="featureList"></ul>
    <a href="#home" class="btn btn-outline-light" style="width: 150px; position: fixed; bottom: 5px; right: 10px" >Back To Top</a>
  </div>
  <div id="fileAlert" class="alert alert-success fixed-top d-none alert-dismissible fade show" role="alert">
    File Uploaded Successfully!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="featureModal" tabindex="-1" role="dialog" aria-labelledby="featureModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="featureModalTitle">List of Features Identified in the File</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3>List of Features Identified in the File</h3>
          <table class="table">
            <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Feature Name</th>
              <th scope="col">Feature Value</th>
            </tr>
            </thead>
            <tbody id="fileFeatureList">

            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="progressModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <center>
            <svg class="progress-circle indefinite" width="100" height="100">
              <g transform="rotate(-90,50,50)">
                <circle class="bg" r="40" cx="50" cy="50" fill="none"></circle>
                <circle class="progress" r="40" cx="50" cy="50" fill="none"></circle>
              </g>
            </svg>
            <p class="text-info">Please Wait</p>
          </center>
        </div>
      </div>
    </div>
  </div>

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/jquery.nicescroll.js"></script>
    <script src="/javascripts/jquery.smooth-scroll.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script>
      $(document).ready(function () {
          $('body').niceScroll();
          $('a').smoothScroll();
          $.ajax({
              url: '/features',
              type: 'GET',
              timeout: 10000000,
              success: function (response) {
                  var html = "";
                  for(var i=0; i< response.data.length; i++)
                      html += "<li>"+response.data[i]+"</li>";
                  $("#featureList").append(html);
              }
          });
      })
      var file;
      $('#fileUpload').on('change', function () {
          file = this.files[0];
      });
      $('#formUpload').on('submit', function (e) {
         e.preventDefault();
         e.stopPropagation();
         $("#progressModal").modal('show')
         var ff = new FormData($(this)[0]);
         $('#fileProgress').removeClass('d-none');
         $.ajax({
             url: '/upload',
             type: 'POST',
             data: ff,
             enctype: 'multipart/form-data',
             cache: false,
             contentType: false,
             processData: false,
             success: function (response) {
                 console.log(response);
                 $('#mainProgress').animate({width: '100%'}, 1000, function () {
                      $('#fileAlert')
                          .removeClass('d-none')
                          .fadeIn(500);
                 });
                 var malware = response.data.malware ? "<b>Malware</b>": "<b>Not Malware</b>";
                 $("#result").removeClass('d-none').html("The file uploaded is "+malware)
                 $("#featureModalTitle").addClass('text-danger').html("The file uploaded is "+malware);
                 var tablePop = "";
                 var props = Object.keys(response.data.data);
                 for(var i=0; i<props.length; i++){
                     tablePop += "<tr>";
                     tablePop += "<td>"+(i+1)+"</td>";
                     tablePop += "<td>"+props[i]+"</td>";
                     tablePop += "<td>"+response.data.data[props[i]]+"</td>";
                     tablePop += "</tr>";
                 }
                 $("#fileFeatureList").html(tablePop);
                 $("#progressModal").modal('hide');
                 $("#featureModal").modal('show');
             }
         });
      });
    </script>
  </body>
</html>
