<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">

  </head>
  <body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark border border-white">
    <a class="navbar-brand" href="#">Malware Analysis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About Malware</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid bg-dark text-white" id="home" style="height: 100vh;">
    <h1 class="text-sm-center">Malware Analysis</h1>
    <hr/>
    <br><br><br>
    <br><br><br>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 border border-dark p-sm-3">
          <form enctype="multipart/form-data" id="formUpload">
            <div class="form-group">
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                  <label for="fileUpload">Select A File</label>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                  <input type="file" name="fileUploader" id="fileUpload" class="form-control" required>
                </div>
                <div class="col-md-1"></div>
              </div>
            </div>
            <div id="fileProgress" class="row d-none">
              <div class="col-md-12 p-sm-3">
                <div class="progress border border-success">
                  <div class="progress-bar bg-success" id="mainProgress" role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <button type="submit" class="btn btn-block btn-outline-success">UPLOAD</button>
                </div>
                <div class="col-md-3"></div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-3"></div>
      </div>
  </div>
  <div class="container-fluid bg-success text-white" id="about" style="height: 100vh">
    <h2>About Malware</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad debitis doloremque eos error et expedita fugit incidunt itaque necessitatibus nulla porro provident, quisquam sapiente sit soluta vero vitae. Porro, sit.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur atque consequatur consequuntur cupiditate distinctio dolorem ducimus ipsum minus necessitatibus, praesentium, quo repellat sequi sint sit tempore voluptatum. Obcaecati, sint?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci, beatae corporis expedita impedit ipsa laborum molestiae natus odit quaerat sed veniam vero voluptas. Eaque iure magnam necessitatibus omnis voluptatibus!
    <a href="#home" class="btn btn-outline-light" style="width: 150px; position: fixed; bottom: 5px; right: 10px" >Back To Top</a>
  </div>
  <div id="fileAlert" class="alert alert-success fixed-top d-none alert-dismissible fade show" role="alert">
    File Uploaded Successfully!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/jquery.nicescroll.js"></script>
    <script src="/javascripts/jquery.smooth-scroll.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script>
      $(document).ready(function () {
          $('body').niceScroll();
          $('a').smoothScroll();
          $.ajax({
              url: '/features',
              type: 'GET',
              success: function (response) {
                  console.log(response);
              }
          });
      })
      var file;
      $('#fileUpload').on('change', function () {
          file = this.files[0];
      });
      $('#formUpload').on('submit', function (e) {
         e.preventDefault();
         e.stopPropagation();
         var ff = new FormData($(this)[0]);
         $('#fileProgress').removeClass('d-none');
         $.ajax({
             url: '/upload',
             type: 'POST',
             data: ff,
             enctype: 'multipart/form-data',
             cache: false,
             contentType: false,
             processData: false,
             success: function (response) {
                 console.log(response);
                 $('#mainProgress').animate({width: '100%'}, 1000, function () {
                      $('#fileAlert')
                          .removeClass('d-none')
                          .fadeIn(500);
                 });
             }
         });
      });
    </script>
  </body>
</html>
